<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class=""><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{> systems/avd12/templates/items/partial-rollable.hbs}}
  </section>
</form>
