  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div class="flexcol">
    </div>
    <div>
      <ul>
        <h4>{{name}} entered Combat with an Initiative of {{total}}!</h4>
      </ul>  
    </div>

  </div>
