<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header id="main-sheet-header" class="sheet-header">
    {{> systems/avd12/templates/actors/partials/header.hbs}}
  </header>


  {{#if (eq type "character")}}
    {{#if (eq created true)}}
    {{> systems/avd12/templates/actors/partials/navigation.hbs}}
    <section class="sheet-body">
        {{!-- Skills Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      <div class="grid-2col">
        <div>
           {{> systems/avd12/templates/actors/partials/skills.hbs}}
        </div>
        <div>
          {{> systems/avd12/templates/actors/partials/defense.hbs}}
          {{> systems/avd12/templates/actors/partials/offense.hbs}}
        </div>
      </div>
    </div>
    {{!-- Modules Tab --}}
    <div class="tab modules" data-group="primary" data-tab="modules">
      <div class="flexcol">
           {{> systems/avd12/templates/actors/partials/modules.hbs}}
        </div>
    </div>
    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> systems/avd12/templates/actors/partials/spells.hbs}}
    </div>
    {{!-- moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      <div class="flexcol">
        {{> systems/avd12/templates/actors/partials/weapons.hbs}}
        {{> systems/avd12/templates/actors/partials/moves.hbs}}
      </div>
    </div>
    {{!-- traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      <div class="flexcol">
        {{> systems/avd12/templates/actors/partials/traits.hbs}}
      </div>
    </div>
    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
      {{> systems/avd12/templates/actors/partials/equipment.hbs}}
      <hr>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
        {{> systems/avd12/templates/actors/partials/biography.hbs}}
    </div>
  </section>
    {{else}}
         <button id="create-character" class="flex0 avd12-button">Character Creator</button>
    {{/if}}


    
  {{else if (eq type "npc")}}
   {{> systems/avd12/templates/actors/partials/navigation.hbs}}
    <section class="sheet-body">
   
    {{!-- Skills Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      <div class="grid-2col">
        <div>
            {{> systems/avd12/templates/actors/partials/skills.hbs}}
        </div>
        <div>
          {{> systems/avd12/templates/actors/partials/defense.hbs}}
          {{> systems/avd12/templates/actors/partials/offense.hbs}}
        </div>
      </div>
    </div>
    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> systems/avd12/templates/actors/partials/spells.hbs}}
    </div>

    {{!-- moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      <div class="flexcol">
        {{> systems/avd12/templates/actors/partials/weapons.hbs}}
        {{> systems/avd12/templates/actors/partials/moves.hbs}}
      </div>
    </div>

    {{!-- traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      <div class="flexcol">
        {{> systems/avd12/templates/actors/partials/traits.hbs}}
      </div>
    </div>

    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
      {{> systems/avd12/templates/actors/partials/equipment.hbs}}
      <hr>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
        {{> systems/avd12/templates/actors/partials/biography.hbs}}
    </div>
  </section>
  {{/if}}
</form>