<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <div class="profile-img-section">
          <div style="position:relative">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body"></section>
</form>