<option value="beast">Beast</option>
<option value="construct">Construct</option>
<option value="dark">Dark</option>
<option value="divine">Divine</option>
<option value="elemental">Elemental</option>
<option value="fey">Fey</option>
<option value="humanoid">Humanoid</option>
<option value="monster">Monster</option>
<option value="plantoid">Plantoid</option>
<option value="undead">Undead</option>
<option value="minion">Minion</option>