<ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Modules</label></h3>
              </span>
            </li>
            {{#each modules as |module key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{module._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{module.img}}" /></a>
              <span class="item-name-label-long"><a class ="item-edit">{{module.name}}</a></span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>