<div class="flexcol">

    <div class="dice-container">
    <div class="dice-box">
        <img src="icons/svg/d4-grey.svg" alt="D4" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d6-grey.svg" alt="D6" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d8-grey.svg" alt="D8" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d10-grey.svg" alt="D10" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d12-grey.svg" alt="D12" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d20-grey.svg" alt="D20" class="dice-icon">
    </div>
    <div class="dice-box">
        <img src="icons/svg/d100-grey.svg" alt="D100" class="dice-icon">
    </div>
</div>



</div>