<div class="flexcol">
  {{#if beginnerSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Beginner Spells" spells=beginnerSpells}}
  {{/if}}

  {{#if noviceSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Novice Spells" spells=noviceSpells}}
  {{/if}}

  {{#if journeymanSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Journeyman Spells" spells=journeymanSpells}}
  {{/if}}

  {{#if expertSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Expert Spells" spells=expertSpells}}
  {{/if}}

  {{#if masterSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Master Spells" spells=masterSpells}}
  {{/if}}

  {{#if grandmasterSpells}}
    {{> systems/avd12/templates/actors/partials/spell-data.hbs title="Grand Master Spells" spells=grandmasterSpells}}
  {{/if}}
</div>