
{{#if character}}

 <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="flex1">
              <h3><label class="items-title-text">Name</label></h3>
            </span>
            <span class="flex3">
              <label class="items-title-text">Description</label>
            </span>
          </li>
          {{#each traits as |trait key|}}
          <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{trait.img}}" /></a>
            <span class="item-name-label">
              <a class="spell-roll">{{trait.name}}</a>
            </span>
          <span class="flex3">{{{upperFirst trait.system.description}}}</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>

{{/if}}