<option value="bondnone">Bond: None</option>
<option value="bondeasy">Bond: Easy</option>
<option value="bondcommon">Bond: Common</option>
<option value="bonduncommon">Bond: Uncommon</option>
<option value="bondrare">Bond: Rare</option>
<option value="bondlegendary">Bond: Legendary</option>
<option value="bondmythic">Bond: Mythic</option>
<option value="bonddivine">Bond: Divine</option>
