<option value="beginner">Beginner</option>
<option value="novice">Novice</option>
<option value="journeyman">Journeyman</option>
<option value="expert">Expert</option>
<option value="master">Master</option>
<option value="grandmaster">Grand Master</option>
