<option value="might">Might</option>
<option value="agility">Agility</option>
<option value="willpower">Willpower</option>
<option value="knowledge">Knowledge</option>
<option value="social">Social</option>
