<option value="unarmed">Unarmed</option>
<option value="light">Light Armor</option>
<option value="medium">Medium Armor</option>
<option value="heavy">Heavy Armor</option>
<option value="ultraheavy">Ultra-Heavy Armor</option>