<option value="none">None</option>
<option value="physical">Physical</option>
<option value="poison">Poison</option>
<option value="psychic">Psychic</option>
<option value="fire">Fire</option>
<option value="lightning">Lightning</option>
<option value="cold">Cold</option>
<option value="dark">Dark</option>
<option value="divine">Divine</option>
<option value="arcane">Arcane</option>
<option value="true">True</option>
<option value="temphealth">Temporary Health</option>
<option value="healing">Healing</option>
<option value="shielding">Shielding</option>
<option value="variable">Variable</option>
