<option value="projectile">Projectile</option>
<option value="line">Line</option>
<option value="ray">Ray</option>
<option value="area">Area</option>
<option value="sonic">Sonic</option>
<option value="vision">Vision</option>
<option value="touchmelee">Touch/Melee Attack</option>
<option value="utility">Utility</option>
