<li class='flexrow'>
  <label class='item-field-label-long'>
    Focus Points Bonus
  </label>
  <input
    type='text'
    class='padd-right'
    name='system.focuspointsbonus'
    value="{{system.focuspointsbonus}}"
    data-dtype='Number'
  />
</li>

<li class='flexrow'>
  <label class='item-field-label-long'>
    Focus Regen Bonus
  </label>
  <input
    type='text'
    class='padd-right'
    name='system.focusregenbonus'
    value="{{system.focusregenbonus}}"
    data-dtype='Number'
  />
</li>

<li class='flexrow'>
  <label class='item-field-label-long'>
    Burn Chance Bonus
  </label>
  <input
    type='text'
    class='padd-right'
    name='system.burnchancebonus'
    value="{{system.burnchancebonus}}"
    data-dtype='Number'
  />
</li>