<option value="unarmed">Unarmed</option>
<option value="light1h">Light - 1 Handed</option>
<option value="heavy1h">Heavy - 1 Handed</option>
<option value="light2h">Light - 2 Handed</option>
<option value="heavy2h">Heavy - 2 Handed</option>
<option value="ulightranged">Ultra Light - Ranged</option>
<option value="lightranged">Light - Ranged</option>
<option value="heavyranged">Heavy - Ranged</option>
<option value="uheavyranged">Ultra Heavy - Ranged</option>
<option value="custom">Custom</option>
