<option value="abjuration">Abjuration</option>
<option value="evocation">Evocation</option>
<option value="transmutation">Transmutation</option>
<option value="divine">Divine</option>
<option value="druidic">Druidic</option>
<option value="necromancy">Necromancy</option>
<option value="auguration">Auguration</option>
<option value="illusion">Illusion</option>
<option value="draconic">Draconic</option>
<option value="cosmic">Cosmic</option>
<option value="fiend">Fiend</option>
<option value="fey">Fey</option>
<option value="witchcraft">Witchcraft</option>
<option value="auguration">Auguration</option>
