<option value="corenone">Core: None</option>
<option value="core1gp">Core: 1GP</option>
<option value="core5gp">Core: 5GP</option>
<option value="core50gp">Core: 50GP</option>
<option value="core100gp">Core: 100GP</option>
<option value="core300gp">Core: 300GP</option>
<option value="core500gp">Core: 500GP</option>
<option value="core800gp">Core: 800GP</option>
<option value="core1000gp">Core: 1000GP</option>
