<option value="treatmentnone">Treatment: None</option>
<option value="treatment1gp">Treatment: Tin [1 GP]</option>
<option value="treatment4gp">Treatment: Copper [4 GP]</option>
<option value="treatment20gp">Treatment: Iron [20 GP]</option>
<option value="treatment50gp">Treatment: Silver [50 GP]</option>
<option value="treatment500gp">Treatment: Gold [500 GP]</option>
<option value="treatment1000gp">Treatment: Platinum [1000 GP]</option>
<option value="treatment5000gp">Treatment: Mithral [5000 GP]</option>
<option value="treatment10000gp">Treatment: Starsteel [10000 GP]</option>
