<option value="unarmed">Unarmed</option>
<option value="ranged">Ranged</option>
<option value="blunt">Blunt</option>
<option value="slash">Slash</option>
<option value="pierce">Pierce</option>
<option value="crush">Crush</option>
