<option value="academics">Academics</option>
<option value="acrobatics">Acrobatics</option>
<option value="animals">Animals</option>
<option value="arcanum">Arcanum</option>
<option value="athletics">Athletics</option>
<option value="block">Block</option>
<option value="dodge">Dodge</option>
<option value="concentration">Concentration</option>
<option value="initiative">Initiative</option>
<option value="animals">Animals</option>
<option value="medicine">Medicine</option>
<option value="performance">Performance</option>
<option value="persuasion">Persuasion</option>
<option value="resilience">Resilience</option>
<option value="resistance">Resistance</option>
<option value="search">Search</option>
<option value="stealth">Stealth</option>
<option value="strength">Strength</option>
<option value="thievery">Thievery</option>
<option value="wilderness">Wilderness</option>