<option value="melee">Melee</option>
<option value="projectile">Projectile</option>
<option value="line">Line</option>
<option value="cone">Cone</option>
<option value="ray">Ray</option>
<option value="area">Area</option>
<option value="targeted">Targeted</option>
<option value="sonic">Sonic</option>
<option value="vision">Vision</option>
<option value="touch">Touch</option>
<option value="splash">Splash</option>