$black: #252525;
$absolute_black: black;
$white: white;
$diluted_black: rgba(0, 0, 0, 0.5);

$stormy: #494e6b;
$cloud: #98878f;
$sunset: #985e6d;
$evening: #192231;

$satpurple: rgb(85, 65, 130);
$satpurple_faded: rgb(85, 65, 130, 0.5);
$satpurple_faded_darker: rgba(57, 43, 92, 0.5);
$satpurple_faded_lighter: rgba(130, 107, 185, 0.5);
